.hidden {
  display: none;
}

.arrow-switch {
  background-image: url(/images/icon-arrow-up.svg);
}

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  top: 0;
  display: none;
}
