html {
  font-size: 18px;
  font-family: Epilogue, sans-serif;
}

body {
  margin: 1rem 2rem;
  background-color: var(--almost-white);
}

nav,
footer {
  max-width: 1440px;
  margin: auto;
}

main {
  max-width: 1240px;
}

.page-content {
  min-height: calc(100vh - 80px);
}

