@media only screen and (max-width: 768px) {
  html {
    position: relative;
  }

  body {
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    height: 100%;
    margin: 0;
  }

  ul {
    flex-direction: column;
  }

  main {
    flex-direction: column;
    margin-top: 4rem;
    width: 100vw;
    .txt-content {
      align-items: center;
      order: 1;
    }
  }

  nav {
    background-color: var(--almost-white);
    background-image: none;
    bottom: 0;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
  }

  .menu {
    align-items: flex-start;
    flex-direction: column;
  }

  .login-register-container {
    flex-direction: column;
    width: 100%;
  }

  .open-menu {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem;
  }

  .close-menu {
    display: flex;
    margin: 1.2rem;
    margin-left: auto;
  }

  .main-img {
    margin: auto;
  }

  h1 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
    text-align: center;
  }

  .break {
    display: none;
  }

  p {
    font-size: 0.875rem;
    text-align: center;
    margin: 0 1rem 1rem 1rem;
  }

  .learn-more {
    margin: auto;
    margin-bottom: 2.5rem;
  }

  .app-logo-container {
    width: 90vw;
    margin: auto;
  }

  .app-logo {
    width: 20%;
  }
  .app-logo img {
    width: 100%;
  }

  .dropdown-features,
  .dropdown-company {
    background-color: inherit;
    box-shadow: none;
    margin-left: 1.1rem;
    padding-bottom: 0;
    position: static;
  }

  .features,
  .about,
  .company,
  .careers {
    margin-left: 1rem;
  }

  button {
    width: auto;
  }

  .register button {
    width: 12rem;
  }

  .login {
    margin: auto;
    margin-top: 1rem;
  }

  .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 30%;
  }
}
