@media only screen and (max-width: 768px) {
  html {
    position: relative;
  }

  body {
    height: 100%;
    margin: 0;
  }

  ul {
    flex-direction: column;
  }

  main {
    margin-top: 4rem;
    flex-direction: column;
    width: 100vw;
    .txt-content {
      order: 1;
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    background-color: var(--almost-white);
    display: none;
  }

  .menu,
  .login-register-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .open-menu {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem;
  }

  .close-menu {
    margin: 1.2rem;
    margin-left: auto;
    display: flex;
  }

  .img-content {
    width: 100vw;
  }

  h1 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
    text-align: center;
  }

  .break {
    display: none;
  }

  p {
    text-align: center;
    font-size: 0.875rem;
    margin: 0 1rem 1rem 1rem;
  }

  .learn-more {
    margin: auto;
  }

  .app-logo-container {
    margin-top: 2rem;
    width: 100vw;
    justify-content: space-around;
  }
  .app-logo img {
    width: 4rem;
  }

  .dropdown-features,
  .dropdown-company {
    position: static;
    background-color: inherit;
    box-shadow: none;
    margin-left: 1.1rem;
    padding-bottom: 0;
  }

  .features,
  .about,
  .company,
  .careers {
    margin-left: 1rem;
  }

  button {
    width: auto;
  }

  .register button {
    width: 12rem;
  }

  .login {
    margin: auto;
    margin-top: 1rem;
  }

  .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    top: 0;
    display: none;
  }
}
