@media only screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
  }

  main {
    flex-direction: column;
    width: 100vw;
    .txt-content {
      order: 1;
    }
  }

  nav {
    position: relative;
  }

  .full-menu {
    position: absolute;
    width: 70%;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .menu,
  .login-register-container {
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger-menu {
    display: flex;
  }

  .img-content {
    width: 100vw;
  }

  h1 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
    text-align: center;
  }

  .break {
    display: none;
  }

  p {
    text-align: center;
    font-size: 0.875rem;
    margin: 0 1rem 1rem 1rem;
  }

  .learn-more {
    margin: auto;
  }

  .app-logo-container {
    margin-top: 2rem;
    width: 100vw;
    justify-content: space-around;
  }
  .app-logo img {
    width: 4rem;
  }

  .dropdown-features,
  .dropdown-company {
    position: static;
    background-color: inherit;
    box-shadow: none;
    margin-left: 1.1rem;
  }

  .features,
  .about,
  .company,
  .careers {
    margin-left: 1rem;
  }

  button {
    width: auto;
  }

  .features,
  .company {
    padding-right: 1rem;
  }

  .login-register-container {
    margin: auto;
  }

  .register {
    margin-bottom: 15rem;
    button {
      width: 11.5rem;
    }
  }

  .login {
    margin: auto;
    margin-top: 1rem;
  }

  
}
