nav {
  display: flex;
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

.menu {
  align-items: center;
  display: flex;
  width: 100%;
  gap: 1rem;
}

li {
  list-style: none;
  position: relative;
}

a {
  color: var(--medium-gray);
  text-decoration: none;
  font-size: 0.85rem;
  &:hover {
    color: var(--almost-black);
  }
}

ul {
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

.login-register-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 0.5rem;
}

button {
  background: inherit;
  border: none;
  color: var(--medium-gray);
  font-weight: 500;
  width: 5rem;

  font-size: 0.85rem;
  cursor: pointer;
  &:hover {
    color: var(--almost-black);
  }
}

.features,
.company {
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 1rem;
}

.features {
  margin-left: 7rem;
}

.dropdown-features,
.dropdown-company {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  padding: 1.25rem;
  text-wrap: nowrap;
  top: 40px;
  a {
    color: var(--medium-gray);
    font-size: 0.75rem;
    align-items: flex-start;
    display: flex;
  }
}

.dropdown-features {
  left: 3.7rem;
  img {
    padding-right: 1rem;
    width: 0.7rem;
  }
}

.register {
  border: 1px solid var(--almost-black);
  border-radius: 8px;
  display: flex;
  padding: 0.5rem 0.2rem;
}
