@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 18px;
  font-family: Epilogue, sans-serif; }

body {
  margin: 1rem 2rem;
  background-color: var(--almost-white); }

nav {
  display: flex;
  align-items: center; }

.logo {
  margin-top: 0.5rem; }

.logo img {
  width: 100%; }

.full-menu {
  width: 100%; }

.menu {
  align-items: center;
  display: flex;
  width: 100%;
  gap: 1rem; }

.menu > div {
  position: relative; }

.login-register-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 0.5rem; }

button {
  background: inherit;
  border: none;
  color: var(--medium-gray);
  font-weight: 700;
  width: 5rem;
  cursor: pointer; }

button:hover {
  color: var(--almost-black); }

.features,
.company {
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right; }

.features {
  margin-left: 3rem; }

.dropdown-features,
.dropdown-company {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  padding: 1.2rem;
  text-wrap: nowrap;
  top: 150%; }

.dropdown-features a,
.dropdown-company a {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  align-items: flex-start;
  display: flex; }

.dropdown-company {
  left: 0.8rem; }

.dropdown-features {
  right: 0rem; }

.dropdown-features img {
  padding-right: 1rem;
  width: 0.7rem; }

.about {
  margin-left: -1rem; }

.register {
  border: 1px solid var(--almost-black);
  border-radius: 8px;
  display: flex;
  padding: 0.5rem 0.2rem; }

main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 4rem;
  width: 80vw; }

.txt-content {
  display: flex;
  flex-direction: column; }

h1 {
  font-size: 4.3rem;
  margin-bottom: 2.5rem;
  margin-top: 6rem;
  font-weight: 700; }

p {
  max-width: 25rem;
  color: var(--medium-gray);
  line-height: 1.3rem;
  margin-bottom: 2rem; }

.learn-more {
  background-color: var(--almost-black);
  border-radius: 8px;
  color: var(--almost-white);
  padding: 0.6rem;
  width: 6.4rem; }

.learn-more:hover {
  background-color: inherit;
  border: 1px solid var(--almost-black); }

.app-logo-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-self: flex-end;
  width: 100%; }

.main-img {
  max-width: 25rem; }

.main-img img {
  width: 100%; }

footer {
  margin-top: 2rem; }

footer .attribution {
  font-size: 11px;
  text-align: center; }

footer .attribution a {
  color: #3e52a3; }

.hamburger-menu {
  margin: 1rem 0.5rem;
  margin-left: auto;
  display: none; }

@media only screen and (max-width: 768px) {
  html,
  body {
    margin: 0; }
  main {
    flex-direction: column;
    width: 100vw; }
  main .txt-content {
    order: 1; }
  nav {
    position: relative; }
  .full-menu {
    position: absolute;
    width: 70%;
    right: 0;
    top: 0;
    bottom: 0; }
  .menu,
  .login-register-container {
    background-color: white;
    flex-direction: column;
    align-items: flex-start; }
  .hamburger-menu {
    display: flex; }
  .img-content {
    width: 100vw; }
  h1 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
    text-align: center; }
  .break {
    display: none; }
  p {
    text-align: center;
    font-size: 0.875rem;
    margin: 0 1rem 1rem 1rem; }
  .learn-more {
    margin: auto; }
  .app-logo-container {
    margin-top: 2rem;
    width: 100vw;
    justify-content: space-around; }
  .app-logo img {
    width: 4rem; }
  .dropdown-features,
  .dropdown-company {
    position: static;
    background-color: inherit;
    box-shadow: none;
    margin-left: 1.1rem; }
  .features,
  .about,
  .company,
  .careers {
    margin-left: 1rem; }
  button {
    width: auto; }
  .features,
  .company {
    padding-right: 1rem; }
  .login-register-container {
    margin: auto; }
  .register {
    margin-bottom: 15rem; }
  .register button {
    width: 11.5rem; }
  .login {
    margin: auto;
    margin-top: 1rem; } }

.hidden {
  display: none; }

.arrow-switch {
  background-image: url(/images/icon-arrow-up.svg); }
