@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import "components/_variables.scss";
@import "components/_reset.scss";
@import "components/_globals.scss";
@import "components/_nav.scss";
@import "components/_styles-for-main.scss";
@import "components/_footer.scss";
@import "components/_mobile-styles.scss";
@import "components/_dynamic-styles.scss";
