@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: Epilogue, sans-serif;
  font-size: 18px; }

body {
  background-color: var(--almost-white);
  margin: 1rem 2rem; }

nav,
footer {
  margin: auto;
  max-width: 1440px; }

main {
  max-width: 1240px; }

.page-content {
  min-height: calc(100vh - 80px); }

nav {
  display: flex;
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  background-position: 0px 10px; }

.menu {
  align-items: center;
  display: flex;
  width: 100%;
  gap: 1rem; }

li {
  list-style: none;
  position: relative; }

ul {
  display: flex;
  gap: 2rem;
  font-weight: 500; }

a {
  color: var(--medium-gray);
  text-decoration: none;
  font-size: 0.85rem; }

a:hover {
  color: var(--almost-black); }

.login-register-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 0.5rem; }

.features,
.company {
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 1rem; }

.features {
  margin-left: 7rem; }

.dropdown-features,
.dropdown-company {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  padding: 1.25rem;
  text-wrap: nowrap;
  top: 40px; }

.dropdown-features a,
.dropdown-company a {
  font-size: 0.75rem;
  align-items: flex-start;
  display: flex; }

.dropdown-features {
  left: 3.7rem; }

.dropdown-features img {
  padding-right: 1rem;
  width: 0.7rem; }

button {
  background: inherit;
  border: none;
  color: var(--medium-gray);
  font-weight: 500;
  width: 5rem;
  font-size: 0.85rem;
  cursor: pointer; }

button:hover {
  color: var(--almost-black); }

.register {
  border: 1px solid var(--almost-black);
  border-radius: 8px;
  display: flex;
  padding: 0.5rem 0.2rem; }

main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 4rem;
  width: 80vw; }

.txt-content {
  display: flex;
  flex-direction: column; }

h1 {
  font-size: 4.3rem;
  margin-bottom: 2.5rem;
  margin-top: 6rem;
  font-weight: 700; }

p {
  max-width: 25rem;
  color: var(--medium-gray);
  line-height: 1.3rem;
  margin-bottom: 2rem; }

.learn-more {
  background-color: var(--almost-black);
  border-radius: 8px;
  color: var(--almost-white);
  padding: 0.6rem;
  width: 6.4rem;
  margin-bottom: 1rem; }

.learn-more:hover {
  background-color: inherit;
  border: 1px solid var(--almost-black); }

.app-logo-container {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  margin-top: auto;
  width: 100%; }

.main-img {
  max-width: 25rem; }

.main-img img {
  width: 100%; }

.open-menu {
  display: none;
  margin-right: 0.5rem;
  margin-left: auto; }

.close-menu {
  display: none; }

footer {
  margin-top: 2rem; }

footer .attribution {
  font-size: 11px;
  text-align: center; }

footer .attribution a {
  color: #3e52a3; }

@media only screen and (max-width: 768px) {
  html {
    position: relative; }
  body {
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    height: 100%;
    margin: 0; }
  ul {
    flex-direction: column; }
  main {
    flex-direction: column;
    margin-top: 4rem;
    width: 100vw; }
  main .txt-content {
    align-items: center;
    order: 1; }
  nav {
    background-color: var(--almost-white);
    background-image: none;
    bottom: 0;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%; }
  .menu {
    align-items: flex-start;
    flex-direction: column; }
  .login-register-container {
    flex-direction: column;
    width: 100%; }
  .open-menu {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem; }
  .close-menu {
    display: flex;
    margin: 1.2rem;
    margin-left: auto; }
  .main-img {
    margin: auto; }
  h1 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
    text-align: center; }
  .break {
    display: none; }
  p {
    font-size: 0.875rem;
    text-align: center;
    margin: 0 1rem 1rem 1rem; }
  .learn-more {
    margin: auto;
    margin-bottom: 2.5rem; }
  .app-logo-container {
    width: 90vw;
    margin: auto; }
  .app-logo {
    width: 20%; }
  .app-logo img {
    width: 100%; }
  .dropdown-features,
  .dropdown-company {
    background-color: inherit;
    box-shadow: none;
    margin-left: 1.1rem;
    padding-bottom: 0;
    position: static; }
  .features,
  .about,
  .company,
  .careers {
    margin-left: 1rem; }
  button {
    width: auto; }
  .register button {
    width: 12rem; }
  .login {
    margin: auto;
    margin-top: 1rem; }
  .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 30%; } }

.arrow-up {
  background-image: url(/images/icon-arrow-up.svg); }

.hidden {
  display: none; }
