@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 18px;
  font-family: Epilogue, sans-serif; }

body {
  margin: 1rem 2rem; }

header {
  display: flex; }

.logo-container {
  margin-right: 3rem;
  width: 4rem; }

.logo-container img {
  width: 100%; }

button {
  background: inherit;
  border: none;
  color: var(--medium-gray);
  font-weight: 700;
  width: 5rem;
  cursor: pointer; }

button:hover {
  color: var(--almost-black); }

.dropdown-content {
  display: none;
  flex-direction: column; }

#features {
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right; }

#company {
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right; }

.login {
  margin-left: auto; }

.register {
  border: 1px solid var(--almost-black);
  border-radius: 8px; }

main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 3rem;
  width: 80vw; }

.txt-content {
  display: flex;
  flex-direction: column; }

h1 {
  font-size: 4.3rem;
  margin-bottom: 2.5rem;
  margin-top: 5.5rem;
  font-weight: 700; }

p {
  max-width: 25rem;
  color: var(--medium-gray);
  line-height: 1.3rem;
  margin-bottom: 2rem; }

.learn-more {
  background-color: var(--almost-black);
  border-radius: 8px;
  color: var(--almost-white);
  padding: 0.6rem;
  width: 6.4rem; }

.learn-more:hover {
  background-color: inherit;
  border: 1px solid var(--almost-black); }

.app-logo-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-self: flex-end;
  width: 100%; }

.main-img {
  width: 25rem; }

.main-img img {
  width: 100%; }

footer {
  margin-top: 2rem; }

footer .attribution {
  font-size: 11px;
  text-align: center; }

footer .attribution a {
  color: #3e52a3; }
